<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h2>Feedback from <%= name %>, &#60;<%= from_email %>&#62;</h2>
<blockquote style="border: 2px solid black; background-color: #E9E9E9; padding: 15px;">
  "<%= message %>"
</blockquote>
</body>
</html>
